<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <script defer src="/js/manage.js"></script>
    <script defer src="/js/manageHardware.js"></script>
</head>

<body>
    <%- include('navbar') -%>
    <div id="managerPage" class ="center">
        <div id="managerHeader" class="center">
            <p id="managerTitle"> <%= pageTitle %></p>
            <% button_links.forEach(element => { %>
                <a href="<%= element.url %>" type="button" id="specialSubmitButton" class="manageButtonsDecorations pointer <%= element.underline %>" ><%= element.text %></a>
            <% }) %>
        </div>

        <div id="searchGroup" class="center" style="padding-top:0px;">
            <select id="manageHardwareSearchDropdown" type="text" name="priority" class="manageTableDropdown dropInput pointer">
                <option value="all" selected>All</option>
                <option value="id">ID</option>
                <option value="name">Product Name</option>
            </select>
            <input class="center searchInput" name="searchInput" type="text" id='manageHardwareSearchBar' autocomplete="off" placeholder="Search" autofocus style="display: inline;"/>
            <span style="width:0px;"></span>
            <button id="searchButton" onclick="searchHardwareTable()">Search</button>
        </div>

        <div id="editOptions">
            <div class="plus" type="submit" onclick="addHardware()"></div>
            <div class="editButton" type="submit" onclick="showUpdatePopup()"></div>

            <form id="deleteForm" method="post" action="/admin/manage/hardware/delete">
                <div class="minusButton" onclick="deleteRow()"></div>
                <input id="deleteInput" name="id" class="dropInput input" type="text" oninput="returnTableBG()" placeholder="ID" list="listIds" autocomplete="off" required></input>
                    <datalist id="listIds">
                        <% for(var i=0; i < data.length; i++){ %>
                            <option value="<%= data[i].id %>">
                        <% } %>
                    </datalist>
            </form>
        </div>

        <table id="managerTable" class="center manager_table ">
            <colgroup class="tablewidth ">
                <col style="width: 30%;">
                <col style="width: 70%;">
            </colgroup>
            <thead>
                <tr>
                    <th class="manager_table">ID</th>
                    <th class="manager_table">Product Name</th>
                </tr>
                <tr>
                    <form id="addHardwareForm" method="post" action="/admin/manage/hardware/post">
                        <td class="manager_table">Hardware ID</td>
                        <td class="manager_table">
                            <input name="name" type="text" class="dark input dropInput" style="margin:0px; width:99%; color:#F0BA00; height: 20px;" placeholder="Hardware Name"></input>
                        </td>
                    </form>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < data.length; i++){ %>
                    <tr id="hard<%= data[i].id %>" class="hard_row" onclick=getIdentifier(this)>
                        <td id="hardwareId<%= data[i].id %>" class="manager_table"><%= data[i].id %></td>
                        <td id="hardwareName<%= data[i].id %>" class="manager_table"><%= data[i].name %></td>
                    </tr>
                <% } %>
                <% if(data.length == 0){ %>
                    <td colspan="2" class="manager_table"style="padding: 20px 0px;">No Hardware To Be Found!</td>
                <% } %>
            </tbody>
        </table>
    </div>

    <div id="updateInfo">
        <div style="float: right; display: inline;"><button id="exitButton" onclick="hideUpdatePopup()"></button></div>
        <h2 class="updateSubtitle" style="margin-bottom: 10px;"><u class="gold">Update Hardware</u></h2>

        <form id="editHardForm" method="post" action="/admin/manage/hardware/put">
            <div>
                <p class="popupLabel">Hardware ID:</p>
                <input id="updateIdentifierInput" name="id" class="popupInput" type="text" list="productID" placeholder="Enter ID" autocomplete="off" required/>
                    <datalist id="productID">
                        <% for(var i=0; i < data.length; i++){ %>
                            <option value="<%= data[i].id %>"><%= data[i].name %></option>
                        <% } %>
                    </datalist>
                
                <br><br><p class="popupLabel">Hardware:</p>
                <input name="name" class="popupInput" type="text" placeholder="Hardware Name" autocomplete="off"></input>
            </div><br>
            
            <div class="txtCenter">
                <button class="filterPopupButton" onclick="editHardwareSubmit()">Update</button>
            </div>
        </form>
    </div>

    <button id="toTopButton" onclick="topFunction()" style="display: none;"><img id="upIcon" src="/images/UpButtonIcon.png"></button>
    <%- include('footer') -%>
</body>

</html>
